<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>D.Banasiuk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body bgcolor="#33F9E7">

<h1>Kalkulator prosty:</h1>
<form action="#" th:action="@{/}" th:object="${operationModel}" method="POST">
    <input type="text" pattern="[0-9]+" th:field="*{a}"/>
    <input type="text" pattern="[0-9]+" th:field="*{b}"/>
    <p>
        <input type="submit" class="button" name="add" value="Dodawanie"/>
        <input type="submit" class="button" name="subtract" value="Odejmowanie"/>
        <input type="submit" class="button" name="multiply" value="Mnożenie"/>
        <input type="submit" class="button" name="divide" value="Dzielenie"/>
        <input type="submit" class="button" name="clearSimple" value="Wyczyść"/>
    </p>

    <h1>Kalkulator zaawansowany:</h1>
    <input type="text" pattern="[0-9]+" th:field="*{c}"/>
    <p>
        <input type="submit" class="button" name="sqrt" value="Pierwiastowanie" />
        <input type="submit" class="button" name="power" value="Potęgowanie"/>
        <input type="submit" class="button" name="clearAdvanced" value="Wyczyść"/>
    </p>
    <h1><p th:text="${result}"/></h1>
</form>
</body>
</html>